{{!-- <div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST" enctype="multipart/form-data">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Name
      <input type="text" name="firstName" placeholder="Your name" />
    </label>

    <label> Last Name
      <input type="text" name="lastName" placeholder="Your last name" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label> Profile Image
      <input type="file" name="profileImage" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<form class="row g-3 container-fluid" <!-- añadir cositas -->>
  <div class="input-group flex-nowrap col-6">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
  <div class="col-6">
    <label for="inputEmail4" class="form-label">Username</label>
    <input type="email" class="form-control" id="inputEmail4" >
  </div>
  <div class="col-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="email@example.com">
  </div>
  <div class="col-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" placeholder="********">
  </div>
  <div class="col-md-3">
    <label for="inputAddress" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="John">
  </div>
  <div class="col-md-3">
    <label for="inputAddress2" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Doe">
  </div>
  <div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile">
</div>
  <div class="input-group">
  <span class="input-group-text">First and last name</span>
  <input type="text" aria-label="First name" class="form-control">
  <input type="text" aria-label="Last name" class="form-control">
</div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form> --}}

<div class="container mt-5">
    <div id="form" class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <h2 class="text-center">Sign Up</h2>
        <form action="/auth/signup" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Your username">
            </div>

            <div class="form-group">
                <label for="firstName">Name:</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your name">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
            </div>

            <div class="form-group">
                <label for="profileImage">Profile Image:</label>
                <input type="file" class="form-control-file" id="profileImage" name="profileImage">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>

            {{#if errorMessage}}
                <p class="error mt-3">{{errorMessage}}</p>
            {{/if}}
        </form>
    </div>
</div>