<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST" enctype="multipart/form-data">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Name
      <input type="text" name="firstName" placeholder="Your name" />
    </label>

    <label> Last Name
      <input type="text" name="lastName" placeholder="Your last name" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label> Profile Image
      <input type="file" name="profileImage" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>