 <head>
    <!-- Specific stylesheet for home page. Image handling here -->
    <link href="/stylesheets/home.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
  </header>

  <!-- Main text -->
  <main class="px-3">
    <h1 class="cover">Welcome to Exquisite</h1>
    <p class="lead cover">Connect with our vibrant community of food enthusiasts. Delight your senses and elevate your culinary experience with our carefully crafted dishes. Explore, savor the flavors, and make each recipe your own. </p>
    <p class="lead">
      {{#unless user}}
      <a href="auth/signup" class="btn btn-lg fw-bold border-white signup">Sign Up</a>
      <a href="auth/login" class="btn btn-lg fw-bold border-white login">Login</a>
      {{else}}
      <a href="/recipes" class="btn btn-lg fw-bold border-white login">Get Started</a>
      {{/unless}}
    </p>
  </main>

  <!-- Footer -->
  <footer class="mt-auto text-white-50">
    <p>Made by <span class="text-white">@fdezar</span></p>
  </footer>
</div>
  </body>