<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div id="search-container">
    <form action="/recipes/search" method="GET">
        <input type="search" name="query" id="search-bar"/>
        <button type="submit" id="submit-button">Search</button>
    </form>
</div>