/* Global stylesheet */

:root {
  --red-color: rgb(226, 51, 62);
  --white-color: #f8f9fa;
}

body {
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(35, 35, 35);
}

.navbar-brand,
.navbar-toggler,
.navbar-toggler-icon {
  color: var(--white-color);
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: var(--red-color);
}

.navbar-nav .nav-link {
  color: var(--white-color);
  font-weight: normal;
}

.navbar-collapse {
  color: var(--white-color);
}

.container {
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.card {
  margin-top: 20px;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.rounded-circle {
  width: 50px;
  height: 50px;
}

.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: var(--white-color);
}

.btn {
  margin-top: 10px;
}

.btn:not(.exclude-btn) {
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
}

.btn:hover:not(.exclude-btn) {
  background-color: #333;
}

#search-bar {
  height: 38px;
}

#album-div {
  padding-top: 0;
  padding-bottom: 0;
}

#image-recipe-container {
  overflow: hidden;
  height: 250px;
}

#recipes-images {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

#submit-button {
  margin: 0;
}

#see-user-profile,
.edit-delete-recipe {
  color: var(--red-color);
}

#back-to-top {
  color: #333;
}

#user-icon {
  margin: 20px 0 0 15px;
  height: 8rem;
  width: 8rem;
}

.first-name-last-name-div {
  padding-left: 0.5rem;
}

.profile-description,
.minutes-and-rations,
.first-name-last-name-details {
  margin-bottom: 0;
}

.minutes-and-rations-div {
  margin-bottom: 1rem;
}

.minutes-and-rations {
  padding-left: 0.35rem;
  padding-right: 1rem;
}

#my-recipes-title {
  padding-bottom: 0.5rem;
}

#profile-recipe-details {
  color: #333;
}

#my-profile-my-recipes {
  color: #333;
}

.my-profile-recipe {
  margin-bottom: 0;
}

/* Responsive Styles */
@media (max-width: 576px) {
  .rounded-circle {
    width: 40px;
    height: 40px;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 576px) and (max-width: 1199px) {
  #recipes-images {
    transform: scale(2.2);
    transform-origin: 50% 15%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  #recipes-images {
    transform: scale(1.4);
    transform-origin: 50% 15%;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}