/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  width: 25%;
} */

/* Add your custom styles here */
:root {
  --red-color: rgb(226, 51, 62);
  --white-color: #f8f9fa;
}

body {
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(35, 35, 35);
}

.navbar-brand, .navbar-toggler, .navbar-toggler-icon {
  color: var(--white-color);
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
  color: var(--red-color)
}

.navbar-nav .nav-link {
  color: var(--white-color);
  font-weight: normal;
}

.navbar-collapse {
  color: var(--white-color);
}

.container {
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.card {
  margin-top: 20px;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.rounded-circle {
  width: 50px;
  height: 50px;
}

.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: var(--white-color);
}

.btn {
  margin-top: 10px;
}

.btn:not(.exclude-btn) {
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
}

.btn:hover:not(.exclude-btn) {
  background-color: #333;
}

#search-bar {
  height: 38px; /* Adjust this value as needed */
}

#album-div {
  padding-top: 0;
  padding-bottom: 0;
}

#image-recipe-container {
  overflow: hidden;
  height: 250px;
}

#recipes-images {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

#submit-button {
  margin: 0;
}

#user-icon {
  margin: 20px 0 0 15px;
  height: 8rem;
  width: 8rem;
}

#my-recipe {
  color: black;
}

/* Add more styles as needed */

/* Responsive Styles */
@media (max-width: 576px) {
  .rounded-circle {
      width: 40px;
      height: 40px;
  }
}
