{{!-- <h2>Create your recipe</h2>
<form action="/recipes/create" method="post" enctype="multipart/form-data">
    <label>Title:
        <input type="text" name="title" required/>
    </label>
    <label>Description:
        <input type="textarea" name="description"/>
    </label>
    <label>Origin:
        <input type="textarea" name="origin"/>
    </label>
    <label>Image:
        <input type="file" name="image"/>
    </label>
    <label>Level:
        <label>
            <input type="radio" name="level" value="Easy"/>
            Easy
        </label>
        <label>
            <input type="radio" name="level" value="Intermediate"/>
            Intermediate
        </label>
        <label>
            <input type="radio" name="level" value="Advanced"/>
            Advanced
        </label>
    </label>
    <label>Rations:
        <input type="number" name="rations" min="1"/>
    </label>
    <label>Duration:
        <input type="number" name="duration" min="0"/>
        minutes
    </label>
    <label>Is vegetarian?:
        <label>
            <input type="radio" name="isVegetarian" value="true"/>
            Yes
        </label>
        <label>
            <input type="radio" name="isVegetarian" value="false"/>
            No
        </label>
    </label>
    <label>Is vegan?:
        <label>
            <input type="radio" name="isVegan" value="true"/>
            Yes
        </label>
        <label>
            <input type="radio" name="isVegan" value="false"/>
            No
        </label>
    </label>
    <label>Ingredients:
        <input type="textarea" name="ingredients" required/>
        <small>Separate ingredients with commas (e.g, Rice, Tomato)</small>
    </label>
    <label>Steps:
        <input type="textarea" name="steps" required/>
    </label>
    
    

    <button type="submit">Create</button>
</form>

<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile">
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Default radio
  </label>

  <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
</div>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div> --}}

<div class="container mt-5">
    <div id="form" class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2>Create your recipe</h2>
        <form action="/recipes/create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" rows="5" id="description" name="description"></textarea>
            </div>

            <div class="form-group">
                <label for="origin">Origin:</label>
                <textarea class="form-control" rows="2" id="origin" name="origin"></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>

            <div class="form-group">
                <label>Level:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="level" value="Easy">
                    <label class="form-check-label">Easy</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="level" value="Intermediate">
                    <label class="form-check-label">Intermediate</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="level" value="Advanced">
                    <label class="form-check-label">Advanced</label>
                </div>
            </div>

            <div class="form-group">
                <label for="rations">Rations:</label>
                <input type="number" class="form-control" id="rations" name="rations" min="1">
            </div>

            <div class="form-group">
                <label for="duration">Duration:</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="duration" name="duration" min="0">
                    <div class="input-group-append">
                        <span class="input-group-text">minutes</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Is vegetarian?:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegetarian" value="true">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegetarian" value="false">
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <div class="form-group">
                <label>Is vegan?:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegan" value="true">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="isVegan" value="false">
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <textarea rows="7" class="form-control" id="ingredients" name="ingredients" required></textarea>
                <small class="form-text text-muted">Separate ingredients with commas (e.g., Rice, Tomato)</small>
            </div>

            <div class="form-group">
                <label for="steps">Steps:</label>
                <textarea class="form-control" rows="10" id="steps" name="steps" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
    </div>
</div>